.marketplace {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 15px;
    padding: 1em;
}
.item {
    border: 2px solid #e2e2e2;
}
.item .product {
    width: 296px;
    height: 205px;
}
.item .title,
.item .value {
    font-size: 20px;
}
.item .title {
    font-weight: bold;
    color: #333;
}
.item .information {
    margin: 30px 0;
    padding: 0 25px;
}
.item .description {
    margin-bottom: 30px;
    color: #666;
}
.item .price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.item .price .cost {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.item .cost .sum {
    padding-right: 5px;
    font-size: 35px;
    color: #333;
}
.item .shop {
    color: #fff;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: row;
    float: right;
    background-color: #4ed17b;
    border-radius: 3px;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}